In [1]:
import pandas as pd
import re

In [2]:
a = 'hdjsafdj.pdf'

In [3]:
a.split('.pdf')[0]

'hdjsafdj'

In [4]:
columns = ['Quartal', '2002/1']

In [25]:
box = []
for i in range(5):
    if i == 3:
        continue
    path = f'//mnt/c/Users/cesar/Documents/jobs/test_results_{i}.xlsx'
    df = pd.read_excel(path, names = columns)
    box.append(df)

In [107]:
path = f'//mnt/c/Users/cesar/Documents/jobs/results.xlsx'
df = pd.read_excel(path)

In [108]:
df.dtypes

Quartal                   object
files/sample_2021_I        int64
files/sample_2021_II       int64
files/sample_2021_III      int64
files/sample_2021_IIII     int64
dtype: object

In [51]:
path = f'//mnt/c/Users/cesar/Documents/jobs/model/results_3.xlsx'
df = pd.read_excel(path, header=1)

In [52]:
df.iloc[1:,:]

,Unnamed: 0,Total VPR,Total CVSS3.\n0 without VPR,Total CVSS2.0 without\nCVSS3.0 & VPR,"Total without CVSS2.\n0, CVSS3.0 & VPR"
1,Total vulnerabilities\nCVSS or VPR: 4.0 - 6.9,40150,17029,5579,88
2,Total vulnerabilities\nCVSS or VPR: 7.0 - 8.9,16359,307,49,693
3,Total vulnerabilities\nCVSS or VPR: 9.0 - 10.0,6263,3683,52,0

In [242]:
column_names = list(df.iloc[0,:].values)

In [243]:
column_names.pop(0)

nan

In [239]:
column_names

['Hola',
 nan,
 'Total VPR',
 'Total CVSS3.\n0 without VPR',
 'Total CVSS2.0 without\nCVSS3.0 & VPR',
 'Total without CVSS2.\n0, CVSS3.0 & VPR']

In [232]:
str(df.columns[1])

'1'

In [233]:
df.rename(columns={df.columns[1]:column_names[1]})

,0,Total VPR,2,3,4
0,NaN,Total VPR,Total CVSS3.\n0 without VPR,Total CVSS2.0 without\nCVSS3.0 & VPR,"Total without CVSS2.\n0, CVSS3.0 & VPR"
1,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9,23718,8044,1570,723
2,Total vulnerabilities\nCVSS or VPR: 4.0 - 6.9,40150,17029,5579,88
3,Total vulnerabilities\nCVSS or VPR: 7.0 - 8.9,16359,307,49,693
4,Total vulnerabilities\nCVSS or VPR: 9.0 - 10.0,6263,3683,52,0

In [234]:
df.rename(columns={df.columns[0]:column_names[0], df.columns[1]:column_names[1], df.columns[2]:column_names[2], df.columns[3]:column_names[3],
                  df.columns[4]:column_names[4]})

,NaN,Total VPR,Total CVSS3.\n0 without VPR,Total CVSS2.0 without\nCVSS3.0 & VPR,"Total without CVSS2.\n0, CVSS3.0 & VPR"
0,NaN,Total VPR,Total CVSS3.\n0 without VPR,Total CVSS2.0 without\nCVSS3.0 & VPR,"Total without CVSS2.\n0, CVSS3.0 & VPR"
1,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9,23718,8044,1570,723
2,Total vulnerabilities\nCVSS or VPR: 4.0 - 6.9,40150,17029,5579,88
3,Total vulnerabilities\nCVSS or VPR: 7.0 - 8.9,16359,307,49,693
4,Total vulnerabilities\nCVSS or VPR: 9.0 - 10.0,6263,3683,52,0

In [58]:
list_columns = list(df.columns)
list_columns.remove('Unnamed: 0')

In [59]:
list_columns

['Total VPR',
 'Total CVSS3.\n0 without VPR',
 'Total CVSS2.0 without\nCVSS3.0 & VPR',
 'Total without CVSS2.\n0, CVSS3.0 & VPR']

In [67]:
df.T

,0,1,2,3
Unnamed: 0,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9,Total vulnerabilities\nCVSS or VPR: 4.0 - 6.9,Total vulnerabilities\nCVSS or VPR: 7.0 - 8.9,Total vulnerabilities\nCVSS or VPR: 9.0 - 10.0
Total VPR,23718,40150,16359,6263
Total CVSS3.\n0 without VPR,8044,17029,307,3683
Total CVSS2.0 without\nCVSS3.0 & VPR,1570,5579,49,52
"Total without CVSS2.\n0, CVSS3.0 & VPR",723,88,693,0

In [94]:
a = df_c.pivot_table(values=list_columns, columns='Unnamed: 0').sort_values(by=[a.columns[0]], ascending=False)
a

Unnamed: 0                              Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9
Total VPR                                                                       23718
Total CVSS3.\n0 without VPR                                                      8044
Total CVSS2.0 without\nCVSS3.0 & VPR                                             1570
Total without CVSS2.\n0, CVSS3.0 & VPR                                            723

In [106]:
df.dtypes

Unnamed: 0                                object
Total VPR                                  int64
Total CVSS3.\n0 without VPR                int64
Total CVSS2.0 without\nCVSS3.0 & VPR       int64
Total without CVSS2.\n0, CVSS3.0 & VPR     int64
dtype: object

In [89]:
a.columns[0]

'Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9'

In [81]:
a['index'] = a['index'].apply(lambda x : 'Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9: '+x)

In [85]:
a

Unnamed: 0,index,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9
0,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9:...,1570
1,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9:...,8044
2,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9:...,23718
3,Total vulnerabilities\nCVSS or VPR: 0.1 - 3.9:...,723

In [84]:
a.set_index('')

TypeError: set_index() missing 1 required positional argument: 'keys'

In [152]:
box_df = []
for i in range(df.shape[0]):
    df_c = df.iloc[i:i+1,:]
    df_c = df_c.pivot_table(values=list_columns, columns='Unnamed: 0', )
    
    df_c = df_c.reset_index()
    columns_names = list(df_c.columns)
    df_c = df_c.rename(columns={list(df_c.columns)[0]:'Quartal', list(df_c.columns)[1]:'2002/1'})
    box_df.append(df_c)

In [256]:
df_c = df.iloc[i:i+1,:]
df_c = df_c.pivot_table(values=list_columns, columns='Unnamed: 0' )

In [257]:
df_c = df_c.reset_index()

In [258]:
columns_names = list(df_c.columns)

In [259]:
column_names

['Total VPR',
 'Total CVSS3.\n0 without VPR',
 'Total CVSS2.0 without\nCVSS3.0 & VPR',
 'Total without CVSS2.\n0, CVSS3.0 & VPR']

In [156]:
n_df = pd.concat(box_df, axis = 0)

In [158]:
box.append(n_df)

In [160]:
final_df = pd.concat(box)

In [172]:
final_df = final_df.reset_index().drop('index', axis='columns')

In [174]:
final_df.dropna()

                                              Quartal   2002/1
1                                           Total IPs    52019
2                               Total Vulnerabilities   124307
3             Total Vulnerabilities (Patch available)    73723
4   Total vulnerabilties (Exploit and Patch availa...     5650
5   Total vulnerabilities (Critical, Exploit and P...     1499
7                              Credential Scanned IPs    11440
8                          Non-Credential Scanned IPs    36013
10                     Vuln Discovered within 1 Month    46351
11                    Vuln Discovered within 3 Months    28118
12                    Vuln Discovered within 6 Months    11891
13                    Vuln Discovered within 9 Months    11717
14                      Vuln Discovered within 1 Year    12355
15                   Vuln Discovered more than 1 Year    13875
17                   Total IPs with compliance checks     8469
18                                      Passed checks  1541545
19                                     Error on check    37701
20                                       Failed check   532117
21               Total CVSS2.0 without\nCVSS3.0 & VPR     1570
22                        Total CVSS3.\n0 without VPR     8044
23                                          Total VPR    23718
24             Total without CVSS2.\n0, CVSS3.0 & VPR      723
25               Total CVSS2.0 without\nCVSS3.0 & VPR     5579
26                        Total CVSS3.\n0 without VPR    17029
27                                          Total VPR    40150
28             Total without CVSS2.\n0, CVSS3.0 & VPR       88
29               Total CVSS2.0 without\nCVSS3.0 & VPR       49
30                        Total CVSS3.\n0 without VPR      307
31                                          Total VPR    16359
32             Total without CVSS2.\n0, CVSS3.0 & VPR      693
33               Total CVSS2.0 without\nCVSS3.0 & VPR       52
34                        Total CVSS3.\n0 without VPR     3683
35                                          Total VPR     6263
36             Total without CVSS2.\n0, CVSS3.0 & VPR        0

In [175]:
a = 'sample_2021_I.pdf'

In [187]:
pattern_name = re.compile(r'.*_(.{3,})\.pdf')

In [188]:
re.match(pattern_name, a).group(1)

'2021_I'

In [190]:
df.columns[0]

'Unnamed: 0'