In [1]:
import pandas as pd
import numpy as np
np.random.seed(1)

### Function

In [2]:
def normalization(df, columns, name_id_column):
    df_norm = df[columns]
    df_norm['id'] = df_norm.groupby(columns).ngroup()
    df[name_id_column] = df_norm['id']
    df_norm.drop_duplicates(inplace=True)
    return df_norm

In [3]:
def verification(df):
    print('Shape: {}'.format(df.shape))
    print('Duplicates: {}'.format(df.duplicated(subset=['id']).sum()))
    print('Len: {}'.format(len(df['id'])))

In [4]:
column_names = ['Site',
'Company_Name',
'Address',
'City',
'State',
'Zipcode',
'Country',
'Suggested_Company',
'Industry_Code',
'Industry_Vertical',
'Parent_Company',
'Parent_Industry_Code',
'Parent_Vertical']

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
df1 = pd.read_csv('//mnt/c/Users/cesar/Downloads/customers.csv',encoding='latin1',names=column_names)
df1.head()

,Site,Company_Name,Address,City,State,Zipcode,Country,Suggested_Company,Industry_Code,Industry_Vertical,Parent_Company,Parent_Industry_Code,Parent_Vertical
0,5,CARIBBEAN DEVELOPMENT BANK,PO BOX 408,ST MICHEALS,SM,WI,Barbados,Caribbean Development Bank,6029.0,Banking,Caribbean Development Bank,6029.0,Banking
1,6,GOVERNMENT OF ARUBA,SERRICIO DI COMPUTER CENTRAL,ORANJESTAD,OR,NaN,ARUBA,Government of Aruba,9199.0,Government,Government of Aruba,9199.0,Government
2,7,LIFE OF JAMAICA INSURANCE CO LTD,28 BARBADOS AVE,KINGSTON 5,KNG,0,JAMAICA,Sagicor Life Jamaica Limited,6311.0,Insurance,Sagicor Life Jamaica Limited,6311.0,Insurance
3,8,BANCO POPULAR DOMINICANO,AVE J F KENNEDY 20,SANTO DOMINGO,SD,0,DOMINICAN REPUBLIC,Banco Popular Dominicano C. por A.-Banco Multiple,6021.0,Banking,Grupo Popular S A,6712.0,Other Financial Services
4,9,BANCO MULTIPLE LEON SA,AVE J F KENNEDY 135,SANTO DOMINGO,SD,0,DOMINICAN REPUBLIC,"Banco Multiple Leon, S.A.",6021.0,Banking,"Banco Multiple Leon, S.A.",6021.0,Banking

In [7]:
df1['Zipcode'] = df1['Zipcode'].astype('str')
df1['State'] = df1['State'].astype('str')
df1['Suggested_Company'] = df1['Suggested_Company'].astype('str')
df1['Industry_Code'] = df1['Industry_Code'].astype('str')
df1['Industry_Vertical'] = df1['Industry_Vertical'].astype('str')
df1['Parent_Company'] = df1['Parent_Company'].astype('str')
df1['Parent_Industry_Code'] = df1['Parent_Industry_Code'].astype('str')
df1['Parent_Vertical'] = df1['Parent_Vertical'].astype('str')

In [8]:
df1.isnull().sum()

Site                    0
Company_Name            0
Address                 0
City                    0
State                   0
Zipcode                 0
Country                 0
Suggested_Company       0
Industry_Code           0
Industry_Vertical       0
Parent_Company          0
Parent_Industry_Code    0
Parent_Vertical         0
dtype: int64

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66836 entries, 0 to 66835
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Site                  66836 non-null  int64
 1   Company_Name          66836 non-null  object
 2   Address               66836 non-null  object
 3   City                  66836 non-null  object
 4   State                 66836 non-null  object
 5   Zipcode               66836 non-null  object
 6   Country               66836 non-null  object
 7   Suggested_Company     66836 non-null  object
 8   Industry_Code         66836 non-null  object
 9   Industry_Vertical     66836 non-null  object
 10  Parent_Company        66836 non-null  object
 11  Parent_Industry_Code  66836 non-null  object
 12  Parent_Vertical       66836 non-null  object
dtypes: int64(1), object(12)
memory usage: 6.6+ MB

In [10]:
df1.shape

(66836, 13)

## Normalization

### Company

In [11]:
column_names_nor = [
'Company_Name',
'Address',
'Suggested_Company'
]

In [12]:
company = df1[column_names_nor]

In [13]:
company['id'] = company.groupby(column_names_nor).ngroup()

In [14]:
company.head()

,Company_Name,Address,Suggested_Company,id
0,CARIBBEAN DEVELOPMENT BANK,PO BOX 408,Caribbean Development Bank,9684
1,GOVERNMENT OF ARUBA,SERRICIO DI COMPUTER CENTRAL,Government of Aruba,26448
2,LIFE OF JAMAICA INSURANCE CO LTD,28 BARBADOS AVE,Sagicor Life Jamaica Limited,35359
3,BANCO POPULAR DOMINICANO,AVE J F KENNEDY 20,Banco Popular Dominicano C. por A.-Banco Multiple,5775
4,BANCO MULTIPLE LEON SA,AVE J F KENNEDY 135,"Banco Multiple Leon, S.A.",5768

In [15]:
df1['id_company'] = company['id']

In [16]:
company[company['Company_Name'] == 'BANCO MULTIPLE LEON SA']

,Company_Name,Address,Suggested_Company,id
4,BANCO MULTIPLE LEON SA,AVE J F KENNEDY 135,"Banco Multiple Leon, S.A.",5768

In [17]:
df1[df1['id_company'] == 52953]

,Site,Company_Name,Address,City,State,Zipcode,Country,Suggested_Company,Industry_Code,Industry_Vertical,Parent_Company,Parent_Industry_Code,Parent_Vertical,id_company
35069,37671,SIEBE AUTOMOTIVE N AMERICA,3955 PINNACLE CT,AUBURN HILLS,MI,48326-1787,UNITED STATES,Siebe Automotive,7538.0,Personal and Other Services,Siebe Automotive,7538.0,Personal and Other Services,52953

In [18]:
company[company['id'] == 52953]

                     Company_Name           Address Suggested_Company     id
35069  SIEBE AUTOMOTIVE N AMERICA  3955 PINNACLE CT  Siebe Automotive  52953

In [19]:
company.drop_duplicates(inplace=True)

In [20]:
df1.shape

(66836, 14)

In [21]:
company['id'].unique().shape

(66282,)

In [22]:
company.shape

(66282, 4)

In [23]:
company[company.duplicated()]

Empty DataFrame
Columns: [Company_Name, Address, Suggested_Company, id]
Index: []

### Location

In [24]:
location_nor = [
'City',
'State',
'Zipcode',
'Country']

In [25]:
location = df1[location_nor]

In [26]:
location['id'] =  location.groupby(location_nor).ngroup()

In [27]:
df1['id_location'] = location['id']

In [28]:
location.drop_duplicates(inplace=True)

In [29]:
location.shape[0]

49947

In [30]:
location[location.duplicated()]

Empty DataFrame
Columns: [City, State, Zipcode, Country, id]
Index: []

### Industry

In [31]:
industry_co = [
'Industry_Code',
'Industry_Vertical',
]

In [32]:
df_industry = normalization(df1, industry_co, 'industry_id')

In [33]:
df_industry[df_industry.duplicated()]

Empty DataFrame
Columns: [Industry_Code, Industry_Vertical, id]
Index: []

In [34]:
len(df_industry['id'].unique())

947

In [35]:
df_industry.shape

(947, 3)

### Parent

In [36]:
parent_col =  [
'Parent_Company',
'Parent_Industry_Code',
'Parent_Vertical']

In [37]:
df_parent = normalization(df1, parent_col, 'parent_id')

In [38]:
df_parent.shape

(41652, 4)

In [39]:
df_parent['id'].unique().shape

(41652,)

In [40]:
df1.columns

Index(['Site', 'Company_Name', 'Address', 'City', 'State', 'Zipcode',
       'Country', 'Suggested_Company', 'Industry_Code', 'Industry_Vertical',
       'Parent_Company', 'Parent_Industry_Code', 'Parent_Vertical',
       'id_company', 'id_location', 'industry_id', 'parent_id'],
      dtype='object')

In [41]:
df1[['id_company', 'id_location', 'industry_id', 'parent_id']]

       id_company  id_location  industry_id  parent_id
0            9684        42408          703       6486
1           26448        32373          919      16330
2           35359        21574          723      32449
3            5775        40615          701      16714
4            5768        40615          701       3773
...           ...          ...          ...        ...
66831        9152        16448          726       6087
66832       25039        24412          579      14047
66833       60127        43994          801      36417
66834       36222        10736          240      28594
66835       36542        24539          713      22512

[66836 rows x 4 columns]

In [42]:
company[company['id'] == 9684]

                 Company_Name     Address           Suggested_Company    id
0  CARIBBEAN DEVELOPMENT BANK  PO BOX 408  Caribbean Development Bank  9684

In [43]:
location[location['id'] == 42408]

          City State Zipcode   Country     id
0  ST MICHEALS    SM      WI  Barbados  42408

In [44]:
df_industry[df_industry['id'] == 703]

  Industry_Code Industry_Vertical   id
0        6029.0           Banking  703

In [45]:
df_parent[df_parent['id'] == 6486]

               Parent_Company Parent_Industry_Code Parent_Vertical    id
0  Caribbean Development Bank               6029.0         Banking  6486

In [46]:
df1.iloc[:1,:]

,Site,Company_Name,Address,City,State,Zipcode,Country,Suggested_Company,Industry_Code,Industry_Vertical,Parent_Company,Parent_Industry_Code,Parent_Vertical,id_company,id_location,industry_id,parent_id
0,5,CARIBBEAN DEVELOPMENT BANK,PO BOX 408,ST MICHEALS,SM,WI,Barbados,Caribbean Development Bank,6029.0,Banking,Caribbean Development Bank,6029.0,Banking,9684,42408,703,6486

In [47]:
df1.columns

Index(['Site', 'Company_Name', 'Address', 'City', 'State', 'Zipcode',
       'Country', 'Suggested_Company', 'Industry_Code', 'Industry_Vertical',
       'Parent_Company', 'Parent_Industry_Code', 'Parent_Vertical',
       'id_company', 'id_location', 'industry_id', 'parent_id'],
      dtype='object')

In [48]:
df1 = df1[['id_company', 'id_location', 'industry_id','parent_id','Site']].rename(columns={'Site':'id'})

# Product

In [49]:
product_column_names = ['Product',
'SKU',
'SKU2',
'Product_Component',
'Product_Item',
'Solution_Area',
'Environment_Group',
'Environment',
'External_Level1',
'External_Level2',
'Development_Group']

In [50]:
df2 = pd.read_csv('//mnt/c/Users/cesar/Downloads/products.csv',encoding='latin1',names=product_column_names)
df2.head()

,Product,SKU,SKU2,Product_Component,Product_Item,Solution_Area,Environment_Group,Environment,External_Level1,External_Level2,Development_Group
0,AntiVirus,1,ETRAVE4732P87364,Unassigned,Unassigned,Threat Management,Distributed,Distributed,Security,Secure Content Management,Threat Management
1,HIPS,2,CAHIP22999086521,Unassigned,Unassigned,Threat Management,Distributed,Distributed,Security,Secure Content Management,Threat Management
2,Jasmine,3,JIIBAS992952I05836,JASMINE II,JASMINE II BASE,Unassigned,Distributed,Multi Platform,Data,Object-Oriented DBMS,Products - Dist & Testing Tools
3,Patch Management,4,UNUNI153750UGS8259,Unassigned,Unassigned,Change Management,Distributed,Distributed,Network,Change And Configuration Management,Desktop & Server Management / Asset Management
4,Total Protection,5,CAASBE58883NG0UGR8995,Unassigned,Unassigned,Unassigned,Distributed,Distributed,NaN,NaN,Small and Medium Business

In [51]:
df2.isna().sum()

Product              1115
SKU                     0
SKU2                    0
Product_Component       3
Product_Item            0
Solution_Area           0
Environment_Group       0
Environment             0
External_Level1      3108
External_Level2      3109
Development_Group    1134
dtype: int64

In [52]:
df2['Product'] = df2['Product'].fillna('')

In [53]:
df2['Product_Component'] = df2['Product_Component'].fillna('Unassigned')

In [54]:
df2['External_Level1'] = df2['External_Level1'].fillna('')

In [55]:
df2['External_Level2'] = df2['External_Level2'].fillna('')

In [56]:
df2['Development_Group'] = df2['Development_Group'].fillna('')

In [57]:
df2.columns

Index(['Product', 'SKU', 'SKU2', 'Product_Component', 'Product_Item',
       'Solution_Area', 'Environment_Group', 'Environment', 'External_Level1',
       'External_Level2', 'Development_Group'],
      dtype='object')

### Product

In [58]:
product_col = ['Product', 'Product_Component', 'Product_Item']

In [59]:
df_product = normalization(df2,product_col,'product_id')

In [60]:
df_product.shape

(5042, 4)

In [61]:
len(df_product)

5042

In [62]:
df_product['id'].duplicated().sum()

0

### Solution Area

In [63]:
solution_are_col = ['Solution_Area']

In [64]:
df_solution_area = normalization(df2, solution_are_col, 'solution_area_id')

In [65]:
df_solution_area.shape

(16, 2)

In [66]:
df_solution_area.duplicated(subset=['id']).sum()

0

In [67]:
len(df_solution_area['id'])

16

In [68]:
verification(df_solution_area)

Shape: (16, 2)
Duplicates: 0
Len: 16

### Environment

In [69]:
enviroment_col = ['Environment_Group', 'Environment']

In [70]:
df_enviroment = normalization(df2, enviroment_col, 'enviroment_id')

In [71]:
verification(df_enviroment)

Shape: (31, 3)
Duplicates: 0
Len: 31

### External levels

In [72]:
external_levels = ['External_Level1',
       'External_Level2']

In [73]:
df_external_l = normalization(df2, external_levels, 'External_Levels_id')

In [74]:
verification(df_external_l)

Shape: (61, 3)
Duplicates: 0
Len: 61

### Development_Group

In [75]:
development_g = ['Development_Group']

In [76]:
df_development_g = normalization(df2, development_g, 'development_group_id')

In [77]:
verification(df_development_g)

Shape: (47, 2)
Duplicates: 0
Len: 47

### Tables

In [78]:
df2.columns

Index(['Product', 'SKU', 'SKU2', 'Product_Component', 'Product_Item',
       'Solution_Area', 'Environment_Group', 'Environment', 'External_Level1',
       'External_Level2', 'Development_Group', 'product_id',
       'solution_area_id', 'enviroment_id', 'External_Levels_id',
       'development_group_id'],
      dtype='object')

In [79]:
df2[['Product', 'SKU', 'SKU2', 'Product_Component', 'Product_Item',
       'Solution_Area', 'Environment_Group', 'Environment', 'External_Level1',
       'External_Level2', 'Development_Group']].sample()

,Product,SKU,SKU2,Product_Component,Product_Item,Solution_Area,Environment_Group,Environment,External_Level1,External_Level2,Development_Group
840,SSA/Banking,841,ARE44170CA9360,CAS ACCOUNTS,CAS ACCOUNTS RECEIVABLE A&D,Unassigned,Mainframe,FUJITSU-MSP,,,Banking/SSA

In [80]:
pd.concat([
    df_product[df_product['id'] == 3316],
    df_solution_area.query('id == 2'),
    df_enviroment.query('id == 8'),
    df_external_l.query('id == 51'),
    df_development_g.query('id == 38')
],axis=1)

,Product,Product_Component,Product_Item,id,Solution_Area,id,Environment_Group,Environment,id,External_Level1,External_Level2,id,Development_Group,id
6,NaN,NaN,NaN,NaN,Backup Management,2.0,NaN,NaN,NaN,Storage,Backup And Archive Software,51.0,Storage Recovery Management,38.0
8,NaN,NaN,NaN,NaN,NaN,NaN,Distributed,PC/DOS,8.0,NaN,NaN,NaN,NaN,NaN
1431,SSA,MP/NET INVENTORY,MP/NET INVENTORY CONTROL,3316.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df2[['product_id','solution_area_id', 'enviroment_id', 'External_Levels_id','development_group_id']].iloc[10236]

product_id              606
solution_area_id          2
enviroment_id             0
External_Levels_id       51
development_group_id     38
Name: 10236, dtype: int64

### Define table

In [82]:
df2.columns

Index(['Product', 'SKU', 'SKU2', 'Product_Component', 'Product_Item',
       'Solution_Area', 'Environment_Group', 'Environment', 'External_Level1',
       'External_Level2', 'Development_Group', 'product_id',
       'solution_area_id', 'enviroment_id', 'External_Levels_id',
       'development_group_id'],
      dtype='object')

In [83]:
df2 = df2[['product_id','solution_area_id', 'enviroment_id', 'External_Levels_id','development_group_id','SKU2']]

# Transactions

In [84]:
transactions_names = [
'Transaction_Date',
'Customer',
'Customer_Name',
'Country',
'Product',
'Product_Name',
'Platform',
'Quantity',
'Value'
]

In [85]:
df3 = pd.read_csv('//mnt/c/Users/cesar/Downloads/transactions.csv',encoding='latin1',names=transactions_names)
df3.head()

,Transaction_Date,Customer,Customer_Name,Country,Product,Product_Name,Platform,Quantity,Value
0,2014-10-02,2311,HIGHMARK INC.,UNITED STATES,TELP3316ETFL07162,Graphics,Unix,72,34992
1,2014-10-21,2319,CORNING INCORPORATED,UNITED STATES,PP35040IP4599,NaN,Distributed,53,23214
2,2014-10-10,2332,TRIAD SYSTEMS FOR NAPA DIST CENTER,UNITED STATES,ETRAVE71MLPM3094UMWPJ3716,AntiVirus,Distributed,3,1209
3,2014-10-14,2338,METROPOLITAN SUBURBAN BUS AUTHORITY,UNITED STATES,SAP51010SO9712,Saphir,Windows,11,4862
4,2014-10-10,2385,METRO DADE COUNTY SOLID WASTE MGMT,UNITED STATES,KGXCXG9904216PFT004421,CoolGen,Multi Platform,34,23528

In [86]:
df_customer_trans = df3.merge(df1,left_on='Customer', right_on='id',suffixes=['_transaction','_customers'])

In [87]:
df_customer_trans.sample()

,Transaction_Date,Customer,Customer_Name,Country,Product,Product_Name,Platform,Quantity,Value,id_company,id_location,industry_id,parent_id,id
5133,2014-10-14,16766,BTI SERVICES,UNITED STATES,BABWB1150GJ5242SL241612,ARCserve Backup,Distributed,66,36300,8162,20589,946,41650,16766

In [88]:
df_customer_trans.columns

Index(['Transaction_Date', 'Customer', 'Customer_Name', 'Country', 'Product',
       'Product_Name', 'Platform', 'Quantity', 'Value', 'id_company',
       'id_location', 'industry_id', 'parent_id', 'id'],
      dtype='object')

In [89]:
df_customer_trans[['Transaction_Date','Product','Product_Name', 'Platform', 'Quantity', 'Value', 'id']].rename(columns={'id':'id_customers'})

,Transaction_Date,Product,Product_Name,Platform,Quantity,Value,id_customers
0,2014-10-02,TELP3316ETFL07162,Graphics,Unix,72,34992,2311
1,2014-10-23,BABWUR1109315F0F021135,ARCserve Backup,Distributed,36,25668,2311
2,2014-10-08,BAB942699NB6962,ARCserve Backup,Distributed,92,42780,2311
3,2014-10-21,PP35040IP4599,NaN,Distributed,53,23214,2319
4,2014-10-16,856-13442U25573,NaN,Unix,22,12298,2319
...,...,...,...,...,...,...,...
240259,2014-10-11,ZM23421DB2T6718,DB2 Tools,MVS,5,2650,61912
240260,2014-10-03,BSSNMG01300B18432009586,BrightStor SAN Manager,Distributed,21,1470,62052
240261,2014-10-05,CADKTPRUG51559TRPPU207880,Total Protection,Distributed,99,33660,63073
240262,2014-10-03,ARB60196616401002AE9763,ARCserve Backup,Distributed,43,9761,63459
240263,2014-10-07,856-1001C13587,NaN,Other,12,4116,64102

In [90]:
df_customer_trans= df_customer_trans[['Transaction_Date','Product','Product_Name', 'Platform', 'Quantity', 'Value', 'id']].rename(columns={'id':'id_customers'})

In [91]:
df_main = df_customer_trans.merge(df2, left_on='Product', right_on='SKU2')

In [92]:
df_main.columns

Index(['Transaction_Date', 'Product', 'Product_Name', 'Platform', 'Quantity',
       'Value', 'id_customers', 'product_id', 'solution_area_id',
       'enviroment_id', 'External_Levels_id', 'development_group_id', 'SKU2'],
      dtype='object')

In [93]:
df_main = df_main[['Transaction_Date','id_customers','SKU2','Quantity','Value']].rename(columns={'SKU2':'id_products'})

In [94]:
df_main.head()

  Transaction_Date  id_customers        id_products  Quantity  Value
0       2014-10-02          2311  TELP3316ETFL07162        72  34992
1       2014-10-18         42479  TELP3316ETFL07162        93  45198
2       2014-10-08         31296  TELP3316ETFL07162        43  20898
3       2014-10-23         46781  TELP3316ETFL07162        74  35964
4       2014-10-20          8816  TELP3316ETFL07162        43  20898

In [95]:
df3.head()

,Transaction_Date,Customer,Customer_Name,Country,Product,Product_Name,Platform,Quantity,Value
0,2014-10-02,2311,HIGHMARK INC.,UNITED STATES,TELP3316ETFL07162,Graphics,Unix,72,34992
1,2014-10-21,2319,CORNING INCORPORATED,UNITED STATES,PP35040IP4599,NaN,Distributed,53,23214
2,2014-10-10,2332,TRIAD SYSTEMS FOR NAPA DIST CENTER,UNITED STATES,ETRAVE71MLPM3094UMWPJ3716,AntiVirus,Distributed,3,1209
3,2014-10-14,2338,METROPOLITAN SUBURBAN BUS AUTHORITY,UNITED STATES,SAP51010SO9712,Saphir,Windows,11,4862
4,2014-10-10,2385,METRO DADE COUNTY SOLID WASTE MGMT,UNITED STATES,KGXCXG9904216PFT004421,CoolGen,Multi Platform,34,23528

In [96]:
df1.query('id == 2311')

    id_company  id_location  industry_id  parent_id    id
14       28437        34460          731      17677  2311

In [97]:
company.query('id == 28437')

     Company_Name               Address Suggested_Company     id
14  HIGHMARK INC.  120 5TH AVE STE 2015     Highmark Inc.  28437

In [98]:
df2.query('SKU2 == "TELP3316ETFL07162"')

,product_id,solution_area_id,enviroment_id,External_Levels_id,development_group_id,SKU2
2487,2109,14,9,19,20,TELP3316ETFL07162

In [99]:
df_product.query('id == 2109')

       Product Product_Component         Product_Item    id
1693  Graphics         TELLAGRAF  TELLAGRAF PORTFOLIO  2109

In [100]:
df2.query('SKU2 == "SPLPDF005836ERMG22933"')

,product_id,solution_area_id,enviroment_id,External_Levels_id,development_group_id,SKU2
9456,4002,14,20,37,24,SPLPDF005836ERMG22933

# Database

In [131]:
from sqlalchemy import create_engine

In [132]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="Cesar20022007#",db="tonqq"))

## Development

In [283]:
df_development_g.rename(columns={'Development_Group':'development_group','id':'development_group_id'}, inplace=True)

In [284]:
df_development_g

                                     development_group  development_group_id
0                                    Threat Management                    41
2                      Products - Dist & Testing Tools                    20
3       Desktop & Server Management / Asset Management                     9
4                            Small and Medium Business                    34
5                              Misc Products/Corporate                    17
6                          Storage Recovery Management                    38
11                                  Products - MF Misc                    23
14                                 Workload Automation                    46
19                                  Systems Management                    40
20                                  Network Management                    18
22                                  Products - Datacom                    19
23                                Products - Gen Group                    21
29                                       DB Management                     8
31                         Storage Resource Management                    39
34                        Project Portfolio Management                    26
35                                                                         0
39                       Mainframe Resource Management                    15
42                      Identity and Access Management                    13
49                                                 SSA                    27
52                     Products - MF Output/Easytrieve                    24
66                             IT Financial Management                    12
74                                         Banking/SSA                     4
79                                  Products - MF IDMS                    22
87                        Enterprise Change Management                    10
95                      Storage Information Management                    36
97                       Security Management Mainframe                    30
122                    Business Process Modeling - CTO                     6
140                             Application Management                     1
143                                           Training                    42
169                                   Service Delivery                    31
198                                           Services                    33
202    Security Information / Vulnerability Management                    29
218                                    Service Support                    32
239                                      Misc Products                    16
320                          Business Process Modeling                     5
455                                     Job Management                    14
485                                                BSO                     2
604                                  Storage Mainframe                    37
1034                                     Visualization                    44
1280                                     Unicenter NSM                    43
1377                     Enterprise Systems Management                    11
1384                                          Wireless                    45
1648                                          Security                    28
1897                                           Storage                    35
1992                                           Banking                     3
3409                                    Products Group                    25
10901                                              CTO                     7

In [345]:
df_development_g.to_sql('development_group', con=engine, if_exists='append', chunksize = 1000, index= False)

In [334]:
df_development_g

                                     development_group  development_group_id
0                                    Threat Management                    41
2                      Products - Dist & Testing Tools                    20
3       Desktop & Server Management / Asset Management                     9
4                            Small and Medium Business                    34
5                              Misc Products/Corporate                    17
6                          Storage Recovery Management                    38
11                                  Products - MF Misc                    23
14                                 Workload Automation                    46
19                                  Systems Management                    40
20                                  Network Management                    18
22                                  Products - Datacom                    19
23                                Products - Gen Group                    21
29                                       DB Management                     8
31                         Storage Resource Management                    39
34                        Project Portfolio Management                    26
35                                                                         0
39                       Mainframe Resource Management                    15
42                      Identity and Access Management                    13
49                                                 SSA                    27
52                     Products - MF Output/Easytrieve                    24
66                             IT Financial Management                    12
74                                         Banking/SSA                     4
79                                  Products - MF IDMS                    22
87                        Enterprise Change Management                    10
95                      Storage Information Management                    36
97                       Security Management Mainframe                    30
122                    Business Process Modeling - CTO                     6
140                             Application Management                     1
143                                           Training                    42
169                                   Service Delivery                    31
198                                           Services                    33
202    Security Information / Vulnerability Management                    29
218                                    Service Support                    32
239                                      Misc Products                    16
320                          Business Process Modeling                     5
455                                     Job Management                    14
485                                                BSO                     2
604                                  Storage Mainframe                    37
1034                                     Visualization                    44
1280                                     Unicenter NSM                    43
1377                     Enterprise Systems Management                    11
1384                                          Wireless                    45
1648                                          Security                    28
1897                                           Storage                    35
1992                                           Banking                     3
3409                                    Products Group                    25
10901                                              CTO                     7

## Environment

In [289]:
df_enviroment.rename(columns={'id':'environment_id','Environment_Group':'environment_group','Environment':'environment'}, inplace=True)

In [346]:
df_enviroment.to_sql('environment', con=engine, if_exists='append', chunksize = 1000, index= False)

## Product

In [193]:
df_product

,product,product_component,product_item,id_products
0,AntiVirus,Unassigned,Unassigned,794
1,HIPS,Unassigned,Unassigned,2124
2,Jasmine,JASMINE II,JASMINE II BASE,2509
3,Patch Management,Unassigned,Unassigned,2936
4,Total Protection,Unassigned,Unassigned,4214
...,...,...,...,...
15139,Spectrum,SERVICE MANAGER/REPORT,SERVICE MANAGER/REPORT MANAGER,3878
15162,eTrust Intrusion Detection,eTrust Intrusion,eTrust Intrusion Detection URL Sub-1000 Sessio...,4978
15167,CleverPath Portal,CLEVERPATH ADV,CLEVERPATH ADV COLLABORAT OPT.,1186
15169,,ESTIMACS,ESTIMACS LIMITED,62
15170,SSA,MANMAN/X SALES,MANMAN/X SALES CONTRACTS,3238

In [189]:
df_product.rename(columns={'product':'product','Product_Component':'product_component','Product_Item':'product_item','id':'id_products'},inplace=True)

In [194]:
df_product.to_sql('products', con=engine, if_exists='append', chunksize = 1000, index= False)

## Solution Area

In [307]:
df_solution_area.rename(columns={'id':'id_solution_area','Solution_Area':'solution_area'}, inplace=True)

In [342]:
df_solution_area.to_sql('solution_area', con=engine, if_exists='append', chunksize = 1000, index= False)

## External Level

In [315]:
df_external_l.rename(columns={'id':'external_levels_id','External_Level1':'external_level1','External_Level2':'external_level2'}, inplace=True)

In [350]:
df_external_l.to_sql('external_levels', con=engine, if_exists='append', chunksize = 1000, index= False)

## Product relationship

In [104]:
df2.rename(columns={'SKU2':'id','product_id':'products_id','solution_area_id':'solution_area_id','enviroment_id':'environment_id','External_Levels_id':'external_id','development_group_id':'development_group_id'}, inplace=True)

In [105]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15173 entries, 0 to 15172
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   products_id           15173 non-null  int64
 1   solution_area_id      15173 non-null  int64
 2   environment_id        15173 non-null  int64
 3   external_id           15173 non-null  int64
 4   development_group_id  15173 non-null  int64
 5   id                    15173 non-null  object
dtypes: int64(5), object(1)
memory usage: 711.4+ KB

In [125]:
df2['id'] = df2[['id']].apply(lambda x : x.replace(r'ONE\x',''))

In [392]:
df2.to_sql('product_relationship', con=engine, if_exists='append', chunksize = 1000, index= False)

DataError: (pymysql.err.DataError) (1366, "Incorrect string value: '\\xC2\\x850025...' for column 'id' at row 118")
[SQL: INSERT INTO product_relationship (products_id, solution_area_id, environment_id, external_id, development_group_id, id) VALUES (%(products_id)s, %(solution_area_id)s, %(environment_id)s, %(external_id)s, %(development_group_id)s, %(id)s)]
[parameters: ({'products_id': 4633, 'solution_area_id': 14, 'environment_id': 26, 'external_id': 37, 'development_group_id': 23, 'id': 'VMSPOO080040202804'}, {'products_id': 2867, 'solution_area_id': 14, 'environment_id': 20, 'external_id': 29, 'development_group_id': 20, 'id': 'CCCCMF008940ABFB23512'}, {'products_id': 570, 'solution_area_id': 2, 'environment_id': 0, 'external_id': 51, 'development_group_id': 38, 'id': 'BA3049SBFBN3630'}, {'products_id': 4933, 'solution_area_id': 14, 'environment_id': 0, 'external_id': 48, 'development_group_id': 41, 'id': 'ETRAS75341T41354'}, {'products_id': 4933, 'solution_area_id': 14, 'environment_id': 0, 'external_id': 48, 'development_group_id': 41, 'id': 'ETRAS211935DMTS9784'}, {'products_id': 4393, 'solution_area_id': 1, 'environment_id': 2, 'external_id': 36, 'development_group_id': 40, 'id': 'NSMAD34535PM94863'}, {'products_id': 606, 'solution_area_id': 2, 'environment_id': 9, 'external_id': 51, 'development_group_id': 38, 'id': 'BABSTK201001159608ECP2055'}, {'products_id': 606, 'solution_area_id': 2, 'environment_id': 0, 'external_id': 51, 'development_group_id': 38, 'id': 'BABWUR1100E5322ATCX9219'}  ... displaying 10 of 1000 total bound parameter sets ...  {'products_id': 2191, 'solution_area_id': 14, 'environment_id': 20, 'external_id': 60, 'development_group_id': 21, 'id': 'IDMOLQ07580106115'}, {'products_id': 4952, 'solution_area_id': 14, 'environment_id': 0, 'external_id': 48, 'development_group_id': 41, 'id': 'DNA11EISS10FCRTC11607ABWB5022'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [362]:
cols = "`,`".join([str(i) for i in df2.columns.tolist()])

In [126]:
df2.shape

(15173, 6)

## Customers Parent

In [129]:
df_parent.rename(columns={'Parent_Company':'parent_company','Parent_Industry_Code':'parent_industry_code','Parent_Vertical':'Parent_Vertical','id':'parent_id'}, inplace=True)

In [139]:
df_parent['parent_industry_code'] = df_parent['parent_industry_code'].astype('float')

In [140]:
df_parent.to_sql('customers_parent', con=engine, if_exists='append', chunksize = 1000, index= False)

## Customers Location

In [144]:
location.rename(columns={'id':'location_id','State':'state','City':'city','Zipcode':'zipcode','Country':'country'}, inplace=True)

In [145]:
location.to_sql('customers_location', con=engine, if_exists='append', chunksize = 1000, index= False)

## Cust industry

In [147]:
df_industry.rename(columns={'Industry_Code':'industry_code','Industry_Vertical':'industry_vertical','id':'industry_id'}, inplace=True)

In [150]:
df_industry['industry_code']  = df_industry['industry_code'].astype('float')

In [151]:
df_industry.to_sql('customer_industry', con=engine, if_exists='append', chunksize = 1000, index= False)

## Company

In [153]:
company.rename(columns={'Company_Name':'company_names','Address':'address','Suggested_Company':'Suggested_Company','id':'company_id'}, inplace=True)

In [154]:
company.to_sql('company', con=engine, if_exists='append', chunksize = 1000, index= False)

## Customers

In [156]:
df1.rename(columns={'id_company':'company_id','id_location':'location_id','industry_id':'industry_id','parent_id':'parent_id'},inplace=True)

In [157]:
df1.to_sql('customers', con=engine, if_exists='append', chunksize = 1000, index= False)

## Transaction

In [184]:
df_main['id_products'] = df_main[['id_products']].apply(lambda x : x.replace(r'\x','')).astype('str')

In [168]:
df_main = df_main.reset_index()

In [171]:
df_main.rename(columns={'index':'id','Transaction_Date':'transaction_date','id_customers':'id_customers','id_products':'id_products','Quantity':'quantity','Value':'value'}, inplace=True)

In [179]:
df_main['id'].duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
240259    False
240260    False
240261    False
240262    False
240263    False
Name: id, Length: 240264, dtype: bool

In [187]:
df_main.to_csv('data.csv',index=False)

In [185]:
df_main.to_sql('transactions', con=engine, if_exists='append', chunksize = 1000, index= False)

DataError: (pymysql.err.DataError) (1366, "Incorrect string value: '\\xC2\\x850025...' for column 'id_products' at row 706")
[SQL: INSERT INTO transactions (id, transaction_date, id_customers, id_products, quantity, value) VALUES (%(id)s, %(transaction_date)s, %(id_customers)s, %(id_products)s, %(quantity)s, %(value)s)]
[parameters: ({'id': 215000, 'transaction_date': '2014-10-22', 'id_customers': 16774, 'id_products': 'ETR88057LEWA293937', 'quantity': 35, 'value': 26915}, {'id': 215001, 'transaction_date': '2014-10-06', 'id_customers': 30563, 'id_products': 'ETR88057LEWA293937', 'quantity': 74, 'value': 56906}, {'id': 215002, 'transaction_date': '2014-10-11', 'id_customers': 38731, 'id_products': 'ETR88057LEWA293937', 'quantity': 38, 'value': 29222}, {'id': 215003, 'transaction_date': '2014-10-01', 'id_customers': 44597, 'id_products': 'ETR88057LEWA293937', 'quantity': 12, 'value': 9228}, {'id': 215004, 'transaction_date': '2014-10-15', 'id_customers': 5325, 'id_products': 'ETR88057LEWA293937', 'quantity': 86, 'value': 66134}, {'id': 215005, 'transaction_date': '2014-10-12', 'id_customers': 17348, 'id_products': 'ETR88057LEWA293937', 'quantity': 33, 'value': 25377}, {'id': 215006, 'transaction_date': '2014-10-20', 'id_customers': 26488, 'id_products': 'ETR88057LEWA293937', 'quantity': 92, 'value': 70748}, {'id': 215007, 'transaction_date': '2014-10-15', 'id_customers': 46345, 'id_products': 'ETR88057LEWA293937', 'quantity': 4, 'value': 3076}  ... displaying 10 of 1000 total bound parameter sets ...  {'id': 215998, 'transaction_date': '2014-10-07', 'id_customers': 23835, 'id_products': 'I2415B115DMMK5258', 'quantity': 6, 'value': 516}, {'id': 215999, 'transaction_date': '2014-10-15', 'id_customers': 9122, 'id_products': 'I2415B115DMMK5258', 'quantity': 71, 'value': 6106})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [204]:
df_main['transaction_date'] = pd.to_datetime(df_main['transaction_date'])

In [212]:
df_main[df_main['transaction_date'].dt.month == 10]['quantity'].values.sum()

12136201